/* hydro.css
*
*/

/**********************************************************/
/* Multi-column layout stuff */
/**********************************************************/

div#column_container
{
    /* this element holds the columns and provides a
    *  way to center them in the page  */
    width: 100%;
    height: 100%; /* for pinning things to broswer window */
    margin-left: auto;
    margin-right: auto;
}

div#column1
{
    float: left;
    width: 49%;
    min-width: 640px;
    height: 480px; /* pinned to the browser window */
    overflow: hidden;
    position: relative;
    text-align: right;
}

div#column2
{
    float: left;
    border:0px;
    margin-left: 10px;
    width: 30%;
    height: 100%;
    overflow: auto;
    padding:20px;
}

/********************************************************/
/*  text formatting  */
/********************************************************/
.info
{
    font-size: 10pt;
    margin: 10px;
    padding: 10px;:w

}
