/* hydro.css
*
*/

/**********************************************************/
/* Multi-column layout stuff */
/**********************************************************/

div#column_container
{
    /* this element holds the columns and provides a
    *  way to center them in the page  */
	float: center;
    width: 1024%;
    height: 100%; /* for pinning things to broswer window */
    margin-left: auto;
    margin-right: auto;
}

div#column1
{
    float: left;
    width: 960px;
    height: 720px%; /* pinned to the browser window */
    overflow: auto;
    position: relative;
    background-color: grey;
}

div#column2
{
    float: left;
    border:0px;
    border-top: 1px dotted gray;
    margin-left: 10px;
    width: 90px;
    height: 720px;
    overflow: auto;
    /*padding:5px;*/
    /*position: relative;*/
	background-color: grey;
}
div#controls
{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 720px;
}
div#column3
{
	float: left;
	height: 720px;
	width: 250px;
	background-color: green;
}
div#forms
{
  float: right;
  position: relative;
  background-color: white;
}